.cart-wrapper {background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    width: 23%;
    height: 100vh;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0);
    background-color: 0 2px 28px 0 rgba(0,0,0,0);

}

.cart-header {
    padding-top: 100px;
}
