header {
    height: 64px;
    box-shadow: none;
    display: flex;
    align-items: stretch;
    position: relative;
    z-index: 0;
}
.icon {
    color: #d70f64;
    font-size: 11pt;
}

.top-section {
    top: 0;
    z-index: 1200;
    position: fixed;
    width: 100%;
    transition: top 200ms;   
}

.tools-wrapper {
    z-index: 1;
    display: flex;
    align-content: stretch;
}

.logo-wrapper { 
    flex-grow: 1;
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

 a{
    cursor: pointer;
}

.logo{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.panda-logo{
    height: 30px;
}

.mobile-header{
    flex-grow: 2;
}

.tools-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.user-wrapper {
    width: 130px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    width: 100%;
    color: #D70F64;
    font-size: 0.8em;
    height: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icon:hover {
    color: #d70f64;
    text-decoration: none;
}
.user-icon  {
   height: 25px;
   margin: 0 15px;
}

.bag-icon{
    height: 40px;
    margin: 0 15px;
    
}

.icons{
    position: flex;
    justify-content: center;
}
.login{
    margin-right: 10px;
}

.icons:hover{
    background-color: pink; 
    color: white;   
}

.icons:hover{
    background-blend-mode: screen;
    color: white;   
}

.link::before{
    content: '';
    width: 1px;
    background: #ebebeb;
    height: 37.5%;
    position: absolute;
    left: 0;
    top: 31.25%;
}


.icon-wrapper{
    width: 49%;
    display: flex;
    justify-content: center;
}

hr {
    width: 0.5px;
    height: 20px;
    display: inline-block;
}