.register-form-wrapper{
    z-index: 1;
    position: fixed;
    top: 10%;
    left:35%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
    background-color: #fff;
    height: 570px;
}

.form-close {
    background-image: url(../images/close.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 31px;
    height: 31px;
}

.register-form{
    
    width: 100%;
}

.register-form-content{
    width: 100%;
    padding: 13px 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-link {
    color: #D70F64;
}

.register-header{
    
    text-align: center;
    font-size: 1.2em;
    width: 90%;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 25px;
    padding-top: 30px;
    font-weight: 700;
}

.input-box {
    position: relative;
    flex: 1;
    margin: 0 0 16px;
    font-family: "MuseoSans",Arial,sans-serif;
    color: #c2c2c2;
    clear: both;
}

.input-box input {
    font-size: 1rem;
    height: 48px;
    transition: all 150ms;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    line-height: 1em;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    font-weight: 300;
    resize: none;
}

.register-form button { 
    color: #fff;
    background-color: #D70F64;
    border-color: #D70F64;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: "MuseoSans",Arial,sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    height: 48px;
    border: 1px solid;
    padding: 0 15px;
    line-height: 46px;
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.login-text {
    padding: 20px;
}

.error { 
    color: red; 
    font-size: 0.8em;
    visibility: hidden;
    
}