.restaurant {
    width:77%;
    height: auto;

}

.restaurant-image {
    height: 290px;
    background-image: url(https://images.deliveryhero.io/image/fd-bg/LH/v7oz-listing.jpg?width=400&amp;height=292);

}

.cart {
    width:25%;

}
h1{ 
    right:0;
    
}